version: 2
updates:
  # Go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      otel:
        patterns:
        - "go.opentelemetry.io/*"
      go-agent:
        patterns:
        - "go.elastic.co/apm*"
  # Go dependencies
  - package-ecosystem: "gomod"
    directory: "integrationtest/"
    schedule:
      interval: "daily"
  # GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"
