name: ci
on: ["push", "pull_request"]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true
    - run: make update-licenses
    - run: go run golang.org/x/tools/cmd/goimports@v0.3.0 -w .
    - run: go mod tidy -v
    - uses: dominikh/staticcheck-action@v1.3.1
      with:
        version: "2024.1.1"
        install-go: false
    - name: Verify repo is up-to-date
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          echo 'Updates required:'
          git status
          exit 1
        fi

  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true
    - name: Run tests
      run: go test -v ./...
